<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListagemAlunos"
        tools:targetApi="31">
        <activity
            android:name=".activities.FormularioActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ListagemAlunos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.SMSReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    <!-- configuração para o app pode fazer chamadas telefônicas -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Configuração para o app poder escrever no SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Configuração para o app poder receber eventos de SMS e realizar a leitura dos mesmos -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
</manifest>